{
	email {$EMAIL}
	default_sni 192.168.1.208
	log {
		output stdout
	}
}

# Pelican Panel
# panel.matheuslp.com {
# 	reverse_proxy panel:80
# }
# 
# node1.matheuslp.com {
# 	reverse_proxy wings:8081
# }
# 

cloud.matheuslp.com {
	reverse_proxy nextcloud-aio-apache:11000
}

aio.matheuslp.com {
	basic_auth argon2id {
		matheus {$PASSWORD_HASH}
	}
	reverse_proxy https://nextcloud-aio-mastercontainer:8080 {
		header_up Host {host}
		transport http {
			tls_insecure_skip_verify
		}
	}
}

immich.matheuslp.com {
	reverse_proxy immich-server:2283
}

dozzle.matheuslp.com {
	basic_auth argon2id {
		matheus {$PASSWORD_HASH}
	}
	reverse_proxy dozzle:8080
}

fmd.matheuslp.com {
	reverse_proxy fmd:8080
}
